/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.darken-2
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $indigo.darken-4
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.darken-1
}

@import '../../node_modules/vuetify/src/stylus/main'

*:focus,*:active
  outline-color: -webkit-focus-ring-color
  outline-style: auto
  outline-width: 5px

html,body,.application
  font-family: Montserrat, 'Roboto', sans-serif
  background: black
.toolbar-logo
  width: 90px
  padding-top: (@width / 3)
  &:hover
    box-shadow: 0 2px 4px #9e9e9e
.custom-loader
  animation: loader 1s infinite
  display: flex
.visuallyHidden:focus
  /* Remove item from normal flow */
  position: absolute;
  top: 8px;
  left: 8px;

.visuallyHidden:not(:focus)
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.input-group label,.btn
  font-size: 1.4rem
.title
  font-size: 2.25rem !important
.carousel__controls
  height: 30px

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
footer
  height: 8vw
  //background: #424242
  color: white
  display: flex
  align-items: center
  padding-left: 30px
