/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.darken-2
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.darken-2
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'

html,body,.application
  font-family: Montserrat, 'Roboto', sans-serif
  font-size: 18px
.toolbar-logo
  width: 90px
  padding-top: (@width / 3)
  &:hover
    box-shadow: 0 2px 4px #9e9e9e
.custom-loader
  animation: loader 1s infinite
  display: flex

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
